@import '../partials/base';
@import '~compass-mixins/lib/compass/css3';

$header-logo: 22px;

.onmobile {
    transform: translateY(-500px);
}
.nav-container {
    height: 75px;
    display: flex;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 75px;
    max-height: 80px;
    background-color: $white;
    box-shadow: 0 2px 20px -10px rgba(56, 56, 56, 0.452);
    position: fixed;
    width: 100%;
    z-index: 10;
    a {
        display: block;
    }
    .nav-links {
        display: flex;
        width: 30%;
        justify-content: space-around;
        margin: 0;

        li {
            list-style: none;
        }
        a {
            color: $element-dark;
            text-decoration: none;
            letter-spacing: 2px;
            font-weight: 500;
            padding: 27px 20px;
            display: inline-block;
            transition: 0.5s color ease-in-out;
            font-family: $heading-font;

            &:hover {
                color: $pen-sandal;
            }
        }

        .active-link {
            color: $pri-orange;
            border-bottom: 3px solid $pen-sandal;
        }
    }
}

.header-logo {
    height: 40px;
    width: 130px;
}

.accordion {
    background-color: $white;
    color: $nonelement-dark;
    cursor: pointer;
    width: auto;
    border: none;
    text-align: center;
    outline: none;
    height: 75px;
    padding: 15px 40px;
    letter-spacing: 2px;
    transition: 0.4s;
    font-weight: 500;

}

.button {
    position: relative;
    width: 30px;
    height: 30px;

    &:before,
    &:after {
        content: '';
        position: absolute;
        background-color: black;
        transition: transform 0.25s ease-out;
    }

    &:before {
        top: 0;
        left: 50%;
        width: 4px;
        height: 100%;
        margin-left: -2px;
    }

    &:after {
        top: 50%;
        left: 0;
        width: 100%;
        height: 4px;
        margin-top: -2px;
    }
}

// Styles for the plus arrow on Larger screens navigation
.activate-button {
    cursor: pointer;
    &:before {
        transform: rotate(90deg);
        background-color: $pri-orange;
    }
    &:after {
        transform: rotate(180deg);
        background-color: $pri-orange;
    }
}

.nestedList {
    position: fixed;
    transform: translateY(-300px);
    transition: 0.3s transform ease-in;
    margin: 0;
    padding: 0;
    z-index: -10;
    text-align: center;
    margin-left: 1cm;
    margin-right: 1cm;
    box-shadow: 0 2px 20px -10px rgba(56, 56, 56, 0.452);
    background-color: $white;
    li {
        list-style: none;
        background-color: bl;
        p {
            padding: 0 10px;
        }
        a {
            padding: 10px 6px;
            text-decoration: none;
            background-color: $white;
            color: $element-dark;
        }
    }
}
.nestedList1 {
    position: fixed;
    transform: translateY(-300px);
    transition: 0.3s transform ease-in;
    margin: 0;
    padding: 0;
    z-index: -10;
    text-align: center;
    box-shadow: 0 2px 20px -10px rgba(56, 56, 56, 0.452);
    background-color: $white;
    li {
        list-style: none;
        background-color: bl;
        p {
            padding: 0 10px;
        }
        a {
            padding: 10px 6px;
            text-decoration: none;
            background-color: $white;
            color: $element-dark;
        }
    }
}
.activate-nestedList {
    transform: translateY(-75px);
    margin-top: 75px;
    padding: 0;
}

.menu {
    display: none;
    &:focus {
        outline: none;
    }
}

@media screen and (max-width: 1100px) {
    nav {
        .nav-links {
            width: 50%;
        }
    }
}

@media screen and (max-width: 768px) {
    .header-logo {
        margin-left: 25px;
    }
    .menu {
        display: block !important;
    }
    body {
        overflow-x: hidden;
    }
    nav {
        justify-content: space-between;
        .nav-links {
            display: none;
        }
        .burger {
            display: block;
        }
    }
    .onmobile {
        display: flex;
        position: fixed;
        flex-direction: column;
        transform: translateY(-500px);
        transition: 0.4s transform ease-in;
        margin: 0;
        padding: 0;
        z-index: 9;
        width: 100%;
        box-shadow: 0 2px 20px -10px rgba(56, 56, 56, 0.452);
        li {
            list-style: none;
            background-color: $white;
            p {
                margin: 0;
                text-align: center;
            }
            a {
                display: inline-block;
                text-align: center;
                padding: 15px 100px;
                text-decoration: none;
                background-color: $white;
                color: $element-dark;
            }
        }
    }
    .accordion {
        height: 48.4px;
        width: 100%;
    }
    .accordion:hover {
        color: $element-dark;
    }
    .activate-accordion {
        background-color: $pri-orange;
        color: $white;
    }
    .activate-accordion:hover {
        color: $white;
    }
    .nestedList,
    .activate-nestedList {
        width: 100%;
    }
    .menu {
        height: 64.5px;
        width: 50px;
        margin: 0 20px 0 20px;
        justify-content: space-between;
        padding-top: 0;
        border: 5px solid transparent;
        @include border-radius(100%);
        @include transition(0.3s);
        cursor: pointer;
        .bar {
            height: 5px;
            width: 45px;
            display: flex;
            justify-content: space-between;
            margin: 5px auto 10px auto;
            position: absolute;
            background-color: $pri-orange;
            @include border-radius(10px);
            @include transition(0.3s);
            &:nth-of-type(1) {
                top: 15px;
                @include transition(
                    top 0.3s ease 0.3s,
                    transform 0.3s ease-out 0.1s
                );
            }
            &:nth-of-type(2) {
                top: 30px;
                @include transition(0.3s ease 0.3s);
            }
            &:nth-of-type(3) {
                top: 45px;
                @include transition(
                    top 0.3s ease 0.3s,
                    transform 0.3s ease-out 0.1s
                );
            }
        }
    }
    .activate-menu {
        @include transition(transform 0.3s ease 0.3s);
        @include rotate(45deg);
        .bar {
            &:nth-of-type(1) {
                top: 30px;
                @include rotate(0deg);
                @include transition(
                    top 0.3s ease 0.1s,
                    transform 0.3s ease-out 0.4s
                );
            }
            &:nth-of-type(2) {
                opacity: 0;
            }
            &:nth-of-type(3) {
                top: 30px;
                @include rotate(90deg);
                @include transition(
                    top 0.3s ease 0.1s,
                    transform 0.3s ease-out 0.4s
                );
            }
        }
    }
}

.activate-mob {
    transform: translateY(0);
    margin-top: 75px;
}

.grey {
    color: $footer-color;
}

.mobactive-link {
    color: $pri-orange !important;
}

.arrow {
    width: 1.25rem;
    height: 1.25rem;
    display: inline-block;
    position: relative;
    margin: 0 1rem;

    span {
        top: 0.5rem;
        position: absolute;
        width: 0.75rem;
        height: 0.1rem;
        background-color: $element-dark;
        display: inline-block;
        transition: all 0.2s ease;

        &:first-of-type {
            left: 0;
            transform: rotate(45deg);
        }
        &:last-of-type {
            right: 0;
            transform: rotate(-45deg);
        }
    }
}
